<div class="chat-header">
  <div class="current-room-name">
    <%= @room.name %>
  </div>
  <div class="close-room-container">
    <div class="close-room">
      <%= link_to "チャットを終了する", "#" %>
    </div>
  </div>
</div>

<div class="chat-messages">
  <%= render partial: "message", collection: @messages %>
</div>

<div class="chat-bottom">
  <%= form_with(model: [@room, @message], local: true, class: "form-chat") do |f| %>
    <div class="input-field-container">
      <%= f.text_field :content, class: 'input-field', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <%= f.submit '送信', class: "form-submit" %>
  <% end %>
</div>